body {
background-color: #303030;
color: #ffffff;
font-family: 'Lato', sans-serif;
font-size: 20px;
}

#mainContainer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#top {
    width: 960px;
    margin: 20px;
}

.centralContainers {
    width: 50%;
    float: left;
}

#welcoming {
    float: left;
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#timer {
    float: left;
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.tileLink {
    color: #ffffff;
    text-decoration: none;
}

.tile1 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}

.tile1:hover{
    background-color: #2084c2;
}

.tile2 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}

.tile2:hover{
    background-color: #555555;
}
.tile3 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile3:hover{
    background-color: #82b637;
}
.tile4 {
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #5e3232;
    text-align: center;
}


.tile5 {
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    font-size: 15px;
    padding: 30px;
}

#yt {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
}
#yt:hover {
    background-color: #c83237;
}

#fb {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4468b3;
    float: left;
}
#fb:hover {
    background-color: #3357a2;
}

#gp {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d95333;
    float: left;
}
#gp:hover {
    background-color: #c84222;
}

#tw {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}
#tw:hover {
    background-color: #2084c2;
}

#bottom {
    width: 960px;
    margin: 20px;
    text-align: center;
}